{{ $data := dict }}
{{ $url := "https://api.info.galaxy.casa/api/v2/galaxypedia" }}
{{ with resources.GetRemote $url }}
  {{ with .Err }}
    {{ warnf "%s" . }}
  {{ else }}
    {{ $data = . | transform.Unmarshal }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $url }}
{{ end }}


<!-- Get the data for the specific ship (match to page title) -->
{{ $ship := "" }}
{{ $ship = .Page.Title }}
{{ $ship = $ship | title }}

{{ $shipData := dict }}
{{ $shipData = index $data $ship }}


<!-- Override values in shipData with named parameters -->
{{ range $key, $value := .Params }}
  {{ $shipData = merge $shipData (dict $key $value) }}
{{ end }}


<div
  class="shipinfobox sm:w-2/5 w-11/12 sm:max-w-80 max-w-full mr-0 ml-3 mb-3 sm:float-right border border-solid rounded-xl p-2.5 box-border text-white overflow-hidden sm:left-0 left-1/2 relative sm:static -translate-x-2/4 sm:translate-x-0 flex-col flex"
  data-pagefind-ignore
>
  <h2 class="infoboxtitle !my-4">The {{ .Page.Title }}</h2>

  {{ with .Page.Resources.Get "ship-icon.webp" }}
    {{ with .Resize "x512 Lanczos webp" }}
      <img
        src="{{ .RelPermalink }}"
        alt="{{ $.Page.Title }}"
        style="width: 100%; height: auto;"
      />
    {{ end }}
  {{ end }}


  <h3 class="!my-2">Health</h3>
  <div class="infobox-row">
    <p><b>Shield:</b> {{ index $shipData "shields" }}</p>
    <p><b>Hull:</b> {{ index $shipData "hull" }}</p>
  </div>
  <p>
    <b>Shield Regeneration Rate:</b> {{ index $shipData "shield_regen_rate" }}
  </p>

  <h3 class="!my-2">Manuverability</h3>
  <div class="infobox-row">
    <p><b>Top Speed:</b> {{ index $shipData "top_speed" }}</p>
    <p><b>Acceleration:</b> {{ index $shipData "acceleration" }}</p>
  </div>
  <p class="text-center">
    <b>Turn Speed:</b> {{ index $shipData "turn_speed" }}
  </p>

  <h3 class="!my-2">Armament</h3>
  <p><b>Tiny Turrets:</b> {{ index $shipData "tiny_turrets" }}</p>
  <p><b>Small Turrets:</b> {{ index $shipData "small_turrets" }}</p>
  <p><b>Med. Turrets:</b> {{ index $shipData "medium_turrets" }}</p>
  <p><b>Large Turrets:</b> {{ index $shipData "large_turrets" }}</p>
  <p><b>Huge Turrets:</b> {{ index $shipData "huge_turrets" }}</p>
  <p><b>(F) Spinal:</b> {{ index $shipData "spinal_1" }}</p>
  <p><b>(G) Spinal:</b> {{ index $shipData "spinal_2" }}</p>
  <p><b>Max Turret Range:</b> {{ index $shipData "m_class_range" }}</p>
  <p><b>Recom. Turret Range:</b> {{ index $shipData "r_class_range" }}</p>
  <p><b>Mining Lasers:</b> {{ index $shipData "mining_lasers" }}</p>
  <p><b>Mining Range:</b> {{ index $shipData "mining_range" }}</p>
  <p><b>Fighters:</b> {{ index $shipData "fighters" }}</p>

  <h3 class="!my-2">Misc</h3>
  <p><b>Description:</b> {{ index $shipData "description" }}</p>
  <p><b>Creator:</b> {{ index $shipData "creator" }}</p>
  <p><b>Version Added:</b> {{ index $shipData "version_added" }}</p>
  <p><b>Date Added:</b> {{ index $shipData "date_added" }}</p>
  <p><b>Related Events:</b> {{ index $shipData "related_events" }}</p>
  <p><b>VIP Required:</b> {{ index $shipData "vip_required" }}</p>
</div>

<script>
  // Remove parameters that have no value
  // TODO: This doesn't get rid of headers that have no content
  document.querySelectorAll(".shipinfobox p").forEach(function (p) {
    if (p.textContent.includes(":")) {
      var value = p.textContent.split(":")[1].trim();
      if (value === "") {
        p.remove();
      }
    }
  });
</script>

<style>
  .shipinfobox h3 {
    text-align: center;
    font-family: "Ethno Centric" !important;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .shipinfobox {
    background-color: var(--color-bg3);
    border-color: var(--color-bg4);
    box-shadow: 0 0 5px 0 var(--color-bg4);
  }

  .shipinfobox p {
    padding: 5px 10px;
    background-color: var(--color-bg4);
    border: 1px solid black;
    margin: 0 0 -1px -1px;
    word-break: break-word;
    hyphens: auto;
  }

  .infobox-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  .infobox-row p {
    flex: 1;
    word-break: break-word;
  }

  .infoboxtitle {
    font-family: "Rocket Rinder" !important;
    text-align: center;
    letter-spacing: 0.01em !important;
  }
</style>
