{{ $data := dict }}
{{ $url := "https://api.info.galaxy.casa/api/v2/galaxypedia" }}
{{ with resources.GetRemote $url }}
  {{ with .Err }}
    {{ warnf "%s" . }}
  {{ else }}
    {{ $data = . | transform.Unmarshal }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $url }}
{{ end }}


<!-- Get the data for the specific ship (match to page title) -->
{{ $ship := "" }}
{{ $ship = .Page.Title }}
{{ $ship = $ship | replaceRE " " "_" }}
{{ $ship = $ship | title }}

{{ $shipData := dict }}
{{ $shipData = index $data $ship }}


<!-- Override values in shipData with named parameters -->
{{ range $key, $value := .Params }}
  {{ $shipData = merge $shipData (dict $key $value) }}
{{ end }}


<div class="shipinfobox">
  <h2>The {{ .Page.Title }}</h2>
  <img
    src="./{{ .Page.Title }}-icon.webp"
    alt="{{ .Page.Title }}"
    style="width: 100%; height: auto;"
  />
  <h3>Health</h3>
    <div class="infobox-row">
  <p><b>Shield:</b> {{ index $shipData "shields" }}</p>
  <p><b>Hull:</b> {{ index $shipData "hull" }}</p>
  <p>
    <b>Shield Regeneration Rate:</b> {{ index $shipData "shield_regen_rate" }}
  </p>
    </div>

  <h3>Manuverability</h3>
    <div class="infobox-row">
  <p><b>Top Speed:</b> {{ index $shipData "top_speed" }}</p>
  <p><b>Acceleration:</b> {{ index $shipData "acceleration" }}</p>
    </div>
  <p><b>Turn Speed:</b> {{ index $shipData "turn_speed" }}</p>

    <h3>Armament</h3>
    <p><b>Tiny Turrets:</b> {{ index $shipData "tiny_turrets" }}</p>
    <p><b>Small Turrets:</b> {{ index $shipData "small_turrets" }}</p>
    <p><b>Med. Turrets:</b> {{ index $shipData "medium_turrets" }}</p>
    <p><b>Large Turrets:</b> {{ index $shipData "large_turrets" }}</p>
    <p><b>Huge Turrets:</b> {{ index $shipData "huge_turrets" }}</p>
    <p><b>(F) Spinal:</b> {{ index $shipData "spinal_1" }}</p>
    <p><b>(G) Spinal:</b> {{ index $shipData "spinal_2" }}</p>
    <p><b>Max Turret Range:</b> {{ index $shipData "m_class_range" }}</p>
    <p><b>Recom. Turret Range:</b> {{ index $shipData "r_class_range" }}</p>
    <p><b>Mining Lasers:</b> {{ index $shipData "mining_lasers" }}</p>
    <p><b>Mining Range:</b> {{ index $shipData "mining_range" }}</p>
    <p><b>Fighters:</b> {{ index $shipData "fighters" }}</p>

  <h3>Misc</h3>
  <p><b>Description:</b> {{ index $shipData "description" }}</p>
  <p><b>Creator:</b> {{ index $shipData "creator" }}</p>
  <p><b>Version Added:</b> {{ index $shipData "version_added" }}</p>
  <p><b>Date Added:</b> {{ index $shipData "date_added" }}</p>
  <p><b>Related Events:</b> {{ index $shipData "related_events" }}</p>
  <p><b>VIP Required:</b> {{ index $shipData "vip_required" }}</p>
</div>

<script type="text/javascript">
  // Remove parameters that have no value
  // TODO: This doesn't get rid of headers that have no content
  document.querySelectorAll(".shipinfobox p").forEach(function (p) {
    if (p.textContent.includes(":")) {
      var value = p.textContent.split(":")[1].trim();
      if (value === "") {
        p.remove();
      }
    }
  });
</script>

<style>
  .shipinfobox h2,
  .shipinfobox h3 {
    text-align: center;
      margin: 5px 0;
      font-family: Comic Neue;
  }

  .shipinfobox {
    width: 32vw;
    max-width: 300px;
    float: right;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
      color: white;
      font-family: Comic Neue;
      border-radius: 10px;
      margin-right: 5px;
  }

    .shipinfobox p {
        padding: 5px 10px;
        background-color: #2d2d2d;
        border: 1px solid black;
        margin: 0 0 -1px -1px;
    }

.infobox-row {
    display: flex;
    justify-content: space-between;
}

.infobox-row p {
    flex-grow: 1;
    flex-shrink: 1;
}
</style>
